
p {
font-family: monaco, monospace;
color:#4382A7;
font-size: 14pt;
padding: 1vw;
text-align: center;
margin: 2vh;

}

body {
  background-color: #FFF3E8;
  border: solid 6px #8B575B;
  text-align: center;
  padding: 1vw;
  margin:  2vh;

}

img {
  border-radius: 1%;
  width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: monaco, monospace;
  color: #CD9D93;
  font-size: 34pt;
  text-align: center; 

  } 

h2 {
  font-family: monaco, monospace;
  color: #4382A7;
  font-size: 20pt;
  text-align: center; 
  margin: 0;
  padding: 1vw;
  margin:  1vh;
} 

P.para {
  border: solid 5px #0FC2C0;
  border-radius: 4px;
  padding: 1vw;
  margin:  2vh;
  font-size: 14pt;

}

P.blocktext {
  border: solid 4px #ABBBBC;
  border-radius: 4px;
  padding: 1vw;
  margin:  6vh;
  line-height: 2.5;
  margin-left: 450px;
  margin-right: 450px;
  width: 20em

}


div {
	width: 45%;
	padding: 2vw;
	margin: initial;

}
