
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


body{ 
    background: #E6E3D7;
    font-family: 'Radio Canada', sans-serif;
}

h1 {
    font-size: 60px;
    color: #434F4A;
    font-family: 'Allerta Stencil', sans-serif;

}


#countdown {
    display: inline-flex;
    font-size: 30px;
    color: #B09C9A;

}

.refresh {
    border: none;
}

.buttons {
    font-size: 16px;
    width: 5%;
    /* line-height: 2; */
    color: #D4C9C1;
    background-color: #8F6D71;
    border: none;
    padding: 7px;
    margin: 10px;
}

button {
    display: inline-block;
}

.dropdown {
    /* position: relative; */
    /* display: inline-block; */
    text-align: center;
    font-size: 16px;
    width: 5%;
    /* line-height: 2; */
    padding: 7px;
    color: #D4C9C1;
    background-color: #8F6D71;
    border: none;
    margin: 10px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    z-index: 1;
    margin-top: 1rem;
    margin-left: 5rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 1px solid white;
    background: url("alpaca.png"); 
    cursor: pointer;
}
    
.tile1 {background-position: left top;}
.tile2 {background-position: center top;}
.tile3 {background-position: right top;}
.tile4 {background-position: left center;}
.tile5 {background-position: center center;}
.tile6 {background-position: right center;}
.tile7 {background-position: left bottom;}
.tile8 {background-position: center bottom;}
.tile9 {background: white; cursor: default;}